body{
  background-color:  cyan;
  text-align: center;
}
img{
  width: 50%;
}
.card{
  background-color: pink;
  width: 135%;
  border-radius: 1em;
}
#card{
  justify-content: space-around;
  display: flex;
  margin: 4em;
}
.card:hover {
  box-shadow: 0 8px 8px 0 violet;
}
@media only screen and (min-device-width:350px) and (max-device-width:460px) {
.card{
  width: 200%
}
}
